.adminTextInput {
    border: 1px grey solid;
    width: 100%;
    resize: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.titleInput {
    font-size: 30px;
    margin-bottom: 1rem;
}

#adminMapButton {
    background: lightgrey;
    cursor: pointer;
}

.adminMapDisplay {
    width: 100%;
}

.contentInput {
    height: 400px;
    padding-top: .7rem;
}

.adminHeader {
    width: 100%;
    display: inline-flex;
}

.adminAddPhoto {
    margin-top: .4rem;
    margin-left: auto;
    background-color: lightgrey;
    height: 2.4rem;
}

.adminCancelSave {
    width: 49%;
    margin-top: .1rem;
    margin-left: .1rem;
    margin-right: .1rem;
    background-color: lightgrey;
}

.captionInput {
    width: 100%;
    margin-bottom: 1rem;
}

.editProjectsTitle {
    border-bottom: darkgrey 1px solid;

}

#addProjectsPhoto, #addTravelPhoto {
    width: 100%;
}

.admin_project_small {
    color: grey;
    font-size: 30px;
    width: 100%;
}

.adminNavBar {
    border-bottom: darkgrey 1px solid;
    background-color: lightgrey;
    box-shadow: 10px 0px 10px darkgrey;
}

.adminNavBarButtons {
    margin-left: auto;
    color: grey;
    font-size: 30px;
    width: 100%;
    display: flex;
}

.adminLoginInput{
    font-size: 2rem;
    border:none;
    text-align: center;
    background-color: #dbdbdb !important;
    border-radius: 9px;
    margin-bottom: 1rem;
}

.adminMapOverlay {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display:none;
}

.adminMapViewHeader {
    width: 100%;
    display: flex;
    height: 4rem;
}

.adminMapExit {
    margin-left: auto;
    color: white;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 30px !important;
    cursor: pointer;
}

.logoutButton {
    margin-left: auto;
}

.adminProjectsAddButton {
    margin-left: auto;
    font-size: 40px;
}