.adminTextInput{
    border: 1px grey solid;
    width: 100%;
    resize: none;
    border-radius: 9px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.titleInput {
    font-size: 30px;
    margin-bottom: 1rem;
}

.contentInput {
    height: 400px;
    padding-top: .7rem;
}

.adminHeader{
    width: 100%;
    display: inline-flex;
}

.adminAddPhoto{
    margin-top: .4rem;
    margin-left: auto;
    background-color: lightgrey;
    height: 2.4rem;
}

.adminCancelSave {
    width: 49%;
    margin-top: .1rem;
    margin-left: .1rem;
    margin-right: .1rem;
    background-color: lightgrey;
}

.captionInput {
    width: 100%;
    margin-bottom: 1rem;
}

.editProjectsTitle{
    border-bottom: darkgrey 1px solid;

}

#addProjectsPhoto, #addTravelPhoto{
    width: 100%;
}

.admin_project_small {
    color: grey;
    font-size: 30px;
    width: 100%;
}

.adminNavBar {
    border-bottom: darkgrey 1px solid;
}

.adminNavBarButtons{
    margin-left: auto;
    color: grey;
    font-size: 30px;
}

.adminProjectsAddButton{
    margin-left: auto;
    font-size: 40px;
}