body {
	background-color: black;
}

.index_header {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	height: 75px;
	width: 100%;
	right: 0;
	left: 0;
}

.index_banner {
	background-image: url('/images/bg10-edited-2.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: 89%;
	width: 100%;
	right: 0;
}

.index_quote {
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	padding: 13px;
	width: 275px;
	float: right;
	right: 5%;
	top: 55%;
}

.index_quote > .index_bigQuote {
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	color: white;
	opacity: 0.9;
}

.index_quote > .index_smallQuote {
	font-family: 'Lato', sans-serif;
	margin-top: 25px;
	font-size: 15px;
	color: white;
}
