.travel_emptyspace {
    height: 40px;
    width: 100%;
}

.travel_panetitle {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
    margin-left: 10px;
}

.travel_bigpic {
    width: 100%;
    overflow: hidden;
}

.travel_panecaption {
    color: grey;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 50px;
    margin-left: 10px;
}

.travel_travel_contentHolder {
    margin: 0 auto;
    width: 40%;
    color: white;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 100px;
    position: relative;
}

p.introduction:first-letter {
    font-family: 'Marcellus SC', serif;
    font-size: 100px;
    float: left;
}

p.introduction {
    text-indent: 0px;
}