<template name="navbar">
  <div class='index_header' id='header'>
    <ul>
      <li><a id='donateNav' href='http://www.projectrishi.org/donate' target='_blank'>DONATE</a></li>

      <li><a id='aboutNav' href="/about">ABOUT</a></li>

      <li><a id='travelNav' href='/travel'>TRAVEL</a></li>

      <li><a id='projectsNav' href='/projects'>PROJECTS</a></li>

      <li><a id='mapNav' href='/map'>MAP</a></li>
    </ul>
  </div>
  <a href='/'><div class='index_logo'>
    <img src='/images/logo_with_title.png'/>
  </div></a>
</template>