<template name="navbar">
  <div class="navigation_bar">
    <div class='navbar_header' id='header'>
      <ul>
        <li><a id='donateNav' href='http://www.projectrishi.org/donate' target='_blank'>DONATE</a></li>

        <li><a id='aboutNav' href="/about">ABOUT</a></li>

        <li><a id='travelNav' href='/travel'>TRAVEL</a></li>

        <li><a id='projectsNav' href='/projects'>PROJECTS</a></li>

        <li><a id='mapNav' href='/map'>MAP</a></li>
      </ul>
    </div>
    <a href='/'>
      <div class='navbar_logo'>
        <img src='/images/logo_with_title.png'/>
      </div>
    </a>
    <div class='navbar_dropdown' id='dropdown'>
      <ul>
        <li><a id='waterNav' href='/projects#water'>WATER</a></li>

        <li><a id='landNav' href='/projects#landdevelopment'>LAND DEVELOPMENT</a></li>

        <li><a id='womensNav' href='/projects#womensempowerment'>WOMEN'S EMPOWERMENT</a></li>

        <li><a id='healthNav' href='/projects#health'>HEALTH</a></li>

        <li><a id='educationNav' href='/projects#education'>EDUCATION</a></li>
      </ul>
    </div>
  </div>
</template>